<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Arnab 
            <span class="text-primary">Ranjan Das</span>
        </h1>
        <div class="subheading mb-5">
           Vit University, Vellore · (+91) 6387656827 ·
            <a href="mailto:arnabranjandas13@gmail.com">arnabranjandas13@gmail.com</a>
        </div>
        <p class="lead mb-5">I am an aspiring FullStack Developer currently practicing Angular , NodeJs , MongoDB and Tools like Dockers , Jerkins etc. Proficient in C++ programming language. Currently looking for internships.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/arnab-das-5b91041a3/"><i class="fa fa-linkedin"></i></a>
            <a class="social-icon" href="https://github.com/arnab1305"><i class="fa fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/ArnabRanjanDas1"><i class="fa fa-twitter"></i></a>
            <a class="social-icon" href="#!"><i class="fa fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
