<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Who is it ? Who seeks information about me ?
            
        </h1>
        <div class="subheading mb-5">
          Introduce thou self....
            
        </div>
        <form>
            <div class="form-group">
                <div class="form-group">
                    <input #name type="text" name="seeker" class="form-control" placeholder="Enter You name" ngModel >
                </div>
                <pre></pre>
                <div class="form-group">
                    <button (click)="getVal(name.value)" class="btn btn-primary" type="button" >Submit</button>
                </div>
                <pre></pre>
            </div>
        </form>
        <div [hidden] = "isShow">
            <h1 class="mb-0">
                Welcome, Mr {{currentname}}.
            
            </h1>
            <div class="subheading mb-5">
            Thy shall pass.
            </div>    
        </div>
    </div>
</section>
<hr class="m-0" />
