<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">Tensorsoft Consultancy</div>
                <p>Created web materials  to be used in marketing campaigns, ensure that site adhered to the brand guidelines, Participated in Pre-Project analysis and Technical assesment to ensure the creation of a user-friendly interface.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2020 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Technical Instructor</h3>
                <div class="subheading mb-3">CampK12</div>
                <p>Delivered an exceptional level of service to each costumer by teaching their children basics of Javascript and implementation of Js in various fields like VR Dev and AI, Maintained excellent standards of service through impeccable attention to detail.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2020 - November 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Development Intern</h3>
                <div class="subheading mb-3">Tensorsoft Consultancy</div>
                <p>Developing the UI again from scratch using primary webdevelopment tools, hosting the site on the service provided by the company</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2020 - April 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Front End Design Intern</h3>
                <div class="subheading mb-3">Tensorsoft Consultancy</div>
                <p> Dynamically Design B2C userinterface for a company website. Dramatically visualize customer directed convergence without much past experience.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">February 2020 - March 2020 </span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
