<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy some of my time being outdoors with friends. Other than that I enjoy both outdoor and indoor games. I am a huge fan of stratergy games, In my free time I enjoy movies and TV series if I don't have any subject new to learn which is very rare.</p>
        <p class="mb-0"> I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the full-stack web development world.</p>
    </div>
</section>
<hr class="m-0" />
