<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
         <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fa fa-html5"></i></li>
            <li class="list-inline-item"><i class="fa fa-css3"></i></li>

            <li class="list-inline-item"><i class="fa fa-js"></i></li>

            <li class="list-inline-item"><i class="fa fa-angular"></i></li>
            <li class="list-inline-item"><i class="fa fa-react"></i></li>
            <li class="list-inline-item"><i class="fa fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa fa-npm"></i></li>

          </ul>
    </div>
</section>
<hr class="m-0" />
