<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications and Projects</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                ML certification by IBM
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                Ethical Hacking Intershala Training
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
               Authentication API "https://github.com/arnab1305/authenticationApi"
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
                Angular Porfolio "https://github.com/arnab1305/angularPortfolio"
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-trophy text-warning"></i></span>
               MORE   COMING SOON .....
            </li>

        </ul>
    </div>
</section>
